body{
  text-align: center;
  margin: 0;
  padding: 0;
}

.bg-image{
  background-image: url(image/nagano_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-mask{
  height: 100%;
  background: rgba(255,255,255,0.5);
}
.quiz-image{
  height: 300px;
  width: 300px;
  object-fit: contain;
}

.container{
  margin-bottom: 100px;
}

.hidden {
  display: none;
}