.square {
  width: 100px;
  height: 100px;
  background-color: black;
}

.rounded {
  border-radius: 50px;
}

.transition {
  transition: all 1s;
}

/* *{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgba(0, 81, 255, 0.904);
}

.main-container{
  display: flex;
}

.list-container{
  background-color: gray;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
}

.list-header{
  margin-bottom: 30px;
}
      
.card{
  display: flex;
}

.delete{
  margin-left: 20px;
  color: red;
}

.input-container{
  display: flex;
}

.input-todo{
  border-radius: 5px;
}

.input-button{
  color: white;
  background-color: green;
  border-radius: 5px;
  margin-left: 5px;
} */