body{
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  background: linear-gradient(-45deg, rgba(246, 255, 0, .8), rgba(255, 0, 161, .8)),
  url(image/orora.jpeg);
  background-size: cover;
}

.title{
  text-align: center;
}

.intro{
  margin: 50px;
}

.main_contents{
  padding: 100px;
  color: whitesmoke;
}


.contents{
  display: flex;
  margin-bottom: 50px;
}

.content_img{
  height: 200px;
  width: 200px;
}

.theme{
  width: 20%;
}

.main{
  width: 50%;
  margin-right: 50px;
}

.image{
  width: 30%;
}

.go_quiz{
  margin-top: 50px;
  background-color: #F2F2F2;
  height: 200px;
  display: flex;
}

.lastcomm{
  text-align: center;
  padding-top: 50px;
  padding-left: 50px;
}

.click{
  margin-top: 25px;
}

.click p{
  color: blue;
  cursor : pointer;
  display: inline-block;
}

